extends layout

block content
    .w3-container.w3-bar.in-navbar-container
        .in-navbar-left
            h1 Perfil de #{dados.nome}
        .in-navbar-right
            a(href="/users/perfil/editar").in-navbar-item Editar
            a(href="/").in-navbar-item Voltar à página inicial
    .w3-card-4
        h3 Informação       
        table(class="w3-table-all")
            tr
                th ID:
                td= dados.id
            tr
                th Nome:
                td= dados.nome
            tr    
                th Email:
                td= dados.email
            tr    
                th Filiação:
                td= dados.filiaçao
            tr
                th Idade:
                td= dados.age
            tr
                th Data de Registo:
                td= dados.dataRegisto    
            tr
                th Bio:
                td= dados.bio
